$main-background-color: linear-gradient(to right, #000000, #434343);
$main-text-color: #FFFFFF;
$teal-text-color: #3d75a8;
$h1-font-size: 4rem;
$h1-mobile-font-size: 2.5rem;
$h1-line-height: 4.5rem;
$h1-mobile-line-height: 3rem;
$h2-font-size: 4rem;
$h2-line-height: 4.5rem;
$h3-font-size: 3rem;
$h3-line-height: 4rem;
$h4-font-size: 2.5rem;
$h4-line-height: 3.5rem;
$h5-font-size: 2rem;
$h5-mobile-font-size: 1rem;
$h5-mobile-line-height: 1.5rem;
$h5-line-height: 3rem;
$h6-font-size: 1.5rem;
$h6-line-height: 2rem;
$default-text-size: 1.125rem;
$default-font: 'Montserrat';
$p-line-height: 1.75rem;
$p-letter-spacing: 0.001rem;